*{
margin : 0;
padding : 0;
box-sizing : border-box;
font-family : 'monospace';
color: white;
}

html, body{
height : 100%;
width : 100%;
}

body{
  background-color: black;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}