*{
margin :  0 ;
padding : 0 ;
box-sizing : border-box;
font-family : 'monospace';

}

html, body{
height : 100%;
width : 100%;
}

.parent{
/* height : 100vh; */
width : 100%;
background-color: black;
padding: 30px;
display: flex;
gap: 30px;
flex-wrap: wrap;
}

.card{
height : 330px;
width : 280px;
border-radius: 20px;
background-color: white;
padding: 30px; 
display: flex;
flex-direction: column;
justify-content: space-between;
}

.card .top{
display : flex;
align-items : center;
justify-content : space-between;
margin-bottom: 30px;
}

.card .top img{
height : 40px;
width : 40px;
border-radius: 50%;
object-fit: cover;
border : 1px solid #dadada;
padding: 2px;
}

.card .top button{
display: flex;
align-items : center;
border: 1px solid #dadada;
padding: 4px 6px;
font-size: 13px;
border-radius: 5px;
gap: 3px;
background-color: transparent;
cursor: pointer;
color: #b1b1b1;

}

.center{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.center h3{
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 10px;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #b1b1b1;
}

.center h2{
  font-size: 20px;
  font-weight: 6 00;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 10px;
  color: black;
  border: 1px solid #d9d7d7;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #e5e2e2;
  font-weight: 400;
  
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #d7d7d7d8;
  padding-top: 15px;

}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-weight: 400;
}

.bottom h3{
  font-size: 14px;
  font-weight: 500;
}

.bottom p{
  font-size: 12px;
  color: #b1b1b1;
}


